@import "normalize";
@import "modern-business";

* {
  box-sizing: border-box;
}

.follower-card {
	border: black 1px;
}

.container {
	padding: 2% 5%;
}

input {
  padding: 10px;
  margin: 3px;
  width: 100%;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}

.follower-card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  background-color: #FFFFFF;
  margin: 3% 0%;
  padding: 1%;
  border-radius: 5px;
  border: solid #DDDDDD 1px;
  grid-template-rows: minmax(50px, auto);
  h2 {
    margin-top: 0;
    margin-bottom: .25em;
  };
  h5 {
    margin-top: 0;
    margin-bottom: .75em;
  };
}

.follower-portrait{
  grid-row: 1;
  grid-column: 1;
  img {
    width: 100%;
  }
}

.follower-data {
	grid-row: 1;
	grid-column: 2/6;
}

.follower-extra-data {
  list-style-type: none
}

button.more-data-button {
	background-color: #008CBA;
	border-radius: 8px;
	border: none;
}

#main {
	background-color: #F5F5F5;
  border-radius: 5px;
  border: solid #DDDDDD 1px;
	margin: 1%;
}

#action-bar {
	padding: 0% 1%;
	background-color: black;
	h1 {
		color: white;
		font-size: 2em;
    padding: 0.30em 0;
    margin: 0;
	}
}

.errorMessage {
  background-color: pink;
  color: red;
  border-radius: 5px;
  padding: 5px;
}

